.timeline-container {
    width: 100%;
    overflow-x: auto;
    padding: 20px 0;
    text-align: center;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.timeline-item {
    flex: 1 1 200px;
    max-width: 250px;
    padding: 15px;
    background: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    margin: 10px;
}

.timeline-item:hover {
    transform: scale(1.05);
}

.company-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.company {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.role,
.duration,
.description {
    font-size: 14px;
    color: #ffffff;
    margin: 5px 0;
}


@media (max-width: 768px) {
    .timeline {
        flex-direction: column;
        align-items: center;
    }

    .timeline-item {
        max-width: 90%;
        margin: 10px 0;
    }

    .company-logo {
        width: 40px;
        height: 40px;
    }

    .company {
        font-size: 18px;
    }

    .role,
    .duration,
    .description {
        font-size: 12px;
    }


}