.footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer-content p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .social-icons a {
    color: white;
    font-size: 2rem;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
  }
  

  @media (max-width: 768px) {
    .footer {
      font-size: 1rem;
      padding: 15px 0;
    }
  
    .social-icons a {
      font-size: 1.5rem;
    }
  }
  