


.intro-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 500px; /* Adjust this value based on your navbar height */
}

.intro-image-container {
    position: absolute;
    width: 100vw; /* Ensure it takes up only the screen width */
    height: auto; /* Let height adjust based on aspect ratio */
    top: 0;
    left: 0;
    overflow: hidden;
}

.intro-image {
    width: 100vw; /* Image width matches screen width */
    height: auto; /* Maintain aspect ratio */
    
    object-fit: cover;
    opacity: 0.5;
    object-position: center; /* Ensure the image is centered */
}


.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative; /* Relative positioning */
    width: 90vw;
    max-width: 800px;
    padding: 20px;
    margin: auto; /* Center horizontally */
}

.intro-text h1 {
    font-size: clamp(2rem, 5vw, 4rem); 
    font-weight: bold;
    margin: 0;
    white-space: normal; 
}

.intro-text p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-top: 10px;
    white-space: normal; 
}

.hover-char {
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hover-char:hover {
    transform: scale(1.25);
    color: #00aaff;
}

.space {
    display: inline-block;
    width: 8px; /* Space width */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .intro-text {
        margin-top: 130px;
        padding: 40px 20px; /* Add more padding on smaller screens */
    }
    .intro-container{
        height: 50vh;
    }
    
}
